@media screen and (max-width:426px) {
    .nav-container {
        flex-direction: column;
        padding: 50px 0 30px 0;
    }

    .nav-logo {
        margin: 50px auto;
    }

    .nav-links ul,
    .online-games-container,
    .instantly-play {
        flex-direction: column;
    }

    .nav-links li,
    .policy {
        margin-bottom: 30px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-description {
        width: 90%;
        padding: 20px;
        margin: 20px;
        background-position: center center;
        background-size: cover;
        text-align: center;
    }

    .banner-title,
    .online-games-title,
    .instantly-play-title,
    .footer-logo h2 {
        font-size: 2.4rem;
    }

    .banner-goat {
        font-size: 4.3rem;
    }

    .banner-list {
        padding-left: 50px;
        text-align: left;
        font-size: 1rem;
    }

    .primary-btn {
        margin: 20px 15px;
    }

    .banner-img img {
        margin-left: 20px;
        width: 90%;
    }

    .nav-links ul,
    .online-games,
    .instantly-play {
        padding: 0;
    }

    .online-games-para {
        font-size: 1rem;
    }

    .online-games-container {
        margin: 0 auto;
    }

    .overlay {
        width: 100%;
    }

    .instantly-play {
        width: 100%;
        gap: 30px;
    }

    .instantly-play-img {
        width: 100%;
    }

    .instantly-play-description {
        padding: 50px;
        padding-top: 0;
        text-align: center;
    }

    .angela {
        top: -130px;
        left: 60px;
    }

    .category-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .category {
        margin-right: 15px;
        padding: 5px 25px 5px 5px;
    }

    .category img {
        width: 25%;
        margin-right: 5px;
    }

    .category h4 {
        font-size: 0.5rem;
    }

    .links,
    .social {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .policy {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .links h5,
    .policy,
    .footer-para {
        font-size: 0.7rem;
        margin-top: 0;
    }
}


/* tablet */
@media screen and (min-width:426px) and (max-width:769px) {

    .nav-container,
    .instantly-play {
        flex-direction: column;
    }

    .banner-description {
        width: 100%;
        padding: 50px 0 0 60px;
        background-size: cover;
        background-position: right center;
    }

    .banner-img img {
        width: 90%;
    }

    .banner-title {
        font-size: 2.2rem;
    }

    .banner-goat {
        font-size: 4.3rem;
    }

    .banner-list {
        font-size: 1rem;
    }

    .online-games-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .instantly-play {
        padding: 0;
        gap: 70px;
    }

    .instantly-play-description {
        max-width: fit-content;
        margin: 0 auto;
        text-align: center;
    }

    .angela {
        top: -160px;
    }

    .games-category,
    .instantly-play-description {
        padding: 0;
    }

    .category {
        margin-right: 20px;
        padding: 5px 15px 5px 5px;
    }

    .category-container {
        width: 100%;
    }

    .category img {
        width: 50%;
        margin-right: 5px;
    }

    .category h4 {
        font-size: 0.8rem;
    }

    .footer-container {
        width: 80%;
    }
}