@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Navbar Section */
.nav-container {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

nav {
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-img {
    margin-right: 20px;
}

.nav-logo p {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
    margin: 0;
}

.G {
    background-image: -webkit-linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.nav-links ul {
    display: flex;
    align-items: center;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    color: #3C354F;
}

.anchor {
    margin-right: 30px;
}

.fa-brands {
    margin-left: 15px;
}

.follow {
    margin: 0;
    padding: 18px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* Banner section */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-description {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 70%;
    padding: 145px 160px;
}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

.banner-goat {
    font-size: 5.9rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin: 0;
    margin-bottom: 24px;
}

.banner-list {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 17px;
}

.primary-btn {
    color: #FFF;
    font-size: 1.25;
    font-weight: 600;
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    margin: 30px 24px 24px 0;
}

.color-pink {
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.color-sky {
    background-color: #4EC5F7;
}

.banner-img {
    width: 100%;
}

.banner-img img {
    width: 80%;
}

/* Online games section */
.online-games {
    width: 80%;
    margin: 100px auto;
}

.online-games-title {
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
    text-align: center;
}

.funny-videos {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.online-games-para {
    font-size: 1.125rem;
    color: #534C64;
    text-align: center;
    margin-bottom: 50px;
}

.online-games-container {
    display: flex;
    justify-content: space-between;
}

.games-card {
    width: 100%;
}

.games-card img {
    width: 90%;
}

.games-card p {
    font-size: 1rem;
    color: #534C64;
    padding: 0 15px;
}

/* Instantly play */
.instantly-play {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: start;
    padding-left: 240px;
}

.instantly-play-description {
    max-width: 353px;
    padding-top: 100px;
    text-align: right;
}

.instantly {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.instantly-play-title {
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
}

.instantly-play-para {
    font-size: 1.125rem;
    color: #534C64;
}

.red-dead {
    width: 70%;
    margin-left: 100px;
}

.angela {
    width: 35%;
    position: relative;
    bottom: 240px;
    right: px;
}

/* Games category section */
.games-category {
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 100px 0;
}

.category {
    display: flex;
    align-items: center;
    max-width: fit-content;
    max-height: 80px;
    padding: 5px 10px;
    border: 3px solid #ffffff;
    border-radius: 50px;
    background: #ffffff;
    margin-bottom: 27px;
    margin-right: 35px;
}

.category img {
    margin-right: 10px;
}

.category h4 {
    white-space: nowrap;
}

.category:hover {
    border: 3px solid #FF42A5;
    color: #FF42A5;
}

.category-container1,
.category-container2 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* Footer section */
.footer {
    background: #0B0223;
    color: #FFF;
    padding: 60px 0;
}

.footer-container {
    width: 50%;
    margin: 0 auto;
}

.footer-logo {
    justify-content: center;
}

.footer-logo h2 {
    font-size: 2.8rem;
}

.links {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a {
    font-size: 2rem;
    color: #FFF;
    margin: 15px;
}

.policy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
}

.footer-para {
    text-align: center;
    margin-top: 35px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
}